<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Todo</title>
    <link rel="stylesheet" href="./css/style.css" />
    <style>
      table,tr,td,th{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <%- include('header.ejs') %> 
    <table>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Status</th>
     </tr>
      <% for(let i = 0 ; i < allTodos.length ; i++) { %>
          <tr>
            <th><%= i+1 %></th>
            <th><%= allTodos[i].title %></th>
            <th><%=allTodos[i].completed %></th>
          </tr>
        <% } %>
    </table>
    <%- include('footer.ejs') %> 
  </body>
</html>